<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}
.left {
background-color:#e5e5e5;
  float:left;
  width:33%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

.middle {
  float:left;
  width:33%;
  padding:0 20px;
}
.right {
  background-color:#e5e5e5;
  float:left;
  width:33%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .left, .middle, .right {
    width:100%;
  }
}
</style>
</head>
<body style="font-family:Verdana;color:#aaaaaa;">

<div style="background-color:#e5e5e5;padding:15px;text-align:center;">
  <h1>Hello World</h1>
</div>

<div style="overflow:auto">
  {% for entry in entries %}
  <div class="{{ loop.cycle('left','middle', 'right') }}">
    <p>  {{ entry }}</p>
  </div>
  {% endfor %}



</div>

<div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">© copyright w3schools.com</div>

</body>
</html>
